.App {
    background-color: #fff;
    color: #17152b;
    font-size: 1.3rem;
    line-height: 1.5;
    .name {
        color: #1d1c44;
        font-size: 0.9375rem;
        font-weight: 700;
    }
    .title {
        color: #bbb9c4;
        font-size: 0.9375rem;
    }
    @media screen and (min-width:64rem) {
        font-size: 1.8rem;
        line-height: 1.5;
    }
}
.slider {
    position: relative;
}

.btn {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.875rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.1875rem 1.375rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    img {
        height: 18px;
        width: auto;
    }
     @media screen and (min-width:64rem) {
        top: auto;
        left: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        bottom: 10rem;
        right: 30rem;
    }
}

.left, .right {
    cursor: pointer;
}